{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    
<div class="hello container p-5 border border-dark-subtle" style="background-image: url(/passenger/static/ticket_registration.jpg);">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-12 text-center">
            <h1 class="mb-3">Login</h1>
            <h4>Please Login To <br>View Seats</h4>
        </div>
        <!-- Vertical Line -->
        <div class="col-lg-6 col-md-6 col-12 d-flex align-items-center justify-content-center border-start border-2 border-secondary">
            <form style="height: 55vh; width: 50%; margin: auto" method = "post">
                <h1>Login page</h1>
                {% csrf_token %}
                {{form | crispy}}
                <button class="btn btn-primary mb-3">Login</button>
                <div class="mb-5">
                    <small>Don't have an account <a href="{% url 'register' %}">register</a></small>
                </div>
            </form>
        </div>
        <!-- End Vertical Line -->
    </div>
</div>


{% endblock content %}