{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="d-flex flex-wrap px-5 pt-3 align-items-center">
  
  <div class="row align-items-center">
    <div class="col-lg-6">
      <img style="heigth:400px;width:500px" src="{% static "it.jpg" %}"/>
    </div>
    <div class="col-lg-6">
      <h2 class="mb-4">About Us</h2>
      <p>A well-designed ticket booking system streamlines the booking process, enhances customer satisfaction, and optimizes revenue generation for businesses. By leveraging advanced technology and user-centric design principles, these systems play a pivotal role in shaping modern consumer experiences across a wide range of industries.</p>
    </div>
  </div>
  
  
</div>
<div class="container mt-5">
    
</div>
{% endblock %}