{% extends "base.html" %}
{% block content %}
<div class="p-4 m-4">
  <div class="row text-center">
    <h1 class="mb-5">All The Available Trains:</h1>
      {% for post in data %}
          <div class="mb-3 mb-sm-1 col-lg-3 col-md-6 col-12">
              <div class="card  h-100">
                  <div class="card-body">
                      <img style="height:45vh;" src="{{post.image.url}}" class="card-img-top" alt="...">
                      <h5 class="card-title text-center"><a class='text-decoration-none text-dark' href="{% url 'detail_train' post.id%}">{{post.train_name}}</a></h5>
                      <p class="card-text text-center">{{post.description | truncatewords:10}}</p>
                      <div class="text-center mb-3">
                          <a href="{% url 'detail_train' post.id%}" class="btn btn-primary">Details</a>
                      </div>
                      <p>
                          {% for i in post.station.all %}
                              <button class="btn btn-secondary text-decoration-none text-light m-2" disabled>{{i.title}}</button>
                          {% endfor %}
                      </p>
                  </div>
              </div>
          </div>
      {% endfor %}
  </div>
</div>
{% endblock %}