{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'homestyle.css' %}">
{% endblock head %}
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static "tokyoimage.jpg" %}" class="d-block w-100" alt="...">
        <div class="carousel-caption">
            <h5>Tokyo</h5>
            <p>Tokyo, Japan’s busy capital, mixes the ultramodern and the traditional, from neon-lit skyscrapers to historic temples. The opulent Meiji Shinto Shrine is known for its towering gate and surrounding woods.</p>
            <p><a href="{% url 'detail_train' 5 %}" class="btn btn-primary mt-3">Want to go</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static "NewyorkImage.jpeg" %}" class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>New York</h5>
            <p>New York City comprises 5 boroughs sitting where the Hudson River meets the Atlantic Ocean. At its core is Manhattan, a densely populated borough that’s among the world’s major commercial, financial and cultural centers.</p>
            <p><a href="{% url 'detail_train' 6%}" class="btn btn-primary mt-3">Want to go</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static "chinaimage.jpg" %}" class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>China</h5>
          <br>
            <p>Beijing, China’s sprawling capital, has history stretching back 3 millennia. Yet it’s known as much for modern architecture as its ancient sites such as the grand Forbidden City complex</p>
            <p><a href="{% url 'detail_train' 7%}" class="btn btn-primary mt-3">Want to go</a></p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
</div>
<div class="mx-3 border border-info d-flex flex-wrap mb-4 px-5 pt-3 align-items-center vh-100">
    <div class="homebanner col-lg-6 col-md-6 col-12">
        <h1 class="">Our BookTicket</h1>
        <br>
        <br>
        <p>In today's fast-paced world, ticket booking systems 
            have become an integral part of various industries,
            ranging from transportation and entertainment to 
            events and sports. These systems facilitate the 
            efficient reservation and purchase of tickets, 
            offering convenience to both customers and 
            businesses alike.
        </p>
        <a class="btn btn-primary border border-info text-decoration-none mb-2 me-2" href="{% url 'register' %}">Register now</a>
    </div>
    <div class="col-lg-6 col-md-6 col-12 text-center">
        <img class="img-fluid max-width-100" src="{% static "train-removebg-preview.png" %}" alt="Train Image"/>
    </div>
</div>
<div class="container mb-sm-1 mb-md-1 mt-5 p-5">
    <div class="row">
        <h2 class="col-lg-6 col-md-6 col-12 text-center mt-3">Current Staions Available Here :</h2>
        <div class="col-lg-4 col-md-4 col-12 text-center mt-3">
            {% for station in station %}
                <a href="{% url 'station_wise_train' station.slug %}" class="btn btn-primary text-decoration-none text-light">{{station.name}}</a>
            {% endfor %}
        </div>
    </div>
</div>
    

<div class="container mt-5 p-5 border border-info">
    <div class="row">
      <div class="col text-center">
        <h2 class="">Top trains: {{data | length}} results found</h2>
      </div>
    </div>
</div>
  
<div class="p-4 m-4">
    
    <div class="row">
        {% for post in data %}
            <div class="mb-3 mb-sm-1 col-lg-3 col-md-6 col-12">
                <div class="card  h-100">
                    <div class="card-body">
                        <img style="height:45vh;" src="{{post.image.url}}" class="card-img-top" alt="...">
                        <h5 class="card-title text-center"><a class='text-decoration-none text-dark' href="{% url 'detail_train' post.id%}">{{post.train_name}}</a></h5>
                        <p class="card-text text-center">{{post.description | truncatewords:10}}</p>
                        <div class="text-center mb-3">
                            <a href="{% url 'detail_train' post.id%}" class="btn btn-primary">Details</a>
                        </div>
                        <p>
                            {% for i in post.station.all %}
                                <button class="btn btn-secondary text-decoration-none text-light m-2" disabled>{{i.title}}</button>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<section class="team section-padding" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 text-end">
                <hr>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center">
                <h2 class="tm-section-title">OUR TEAM</h2>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 text-start">
                <hr>
            </div>	
        </div>
        <br>
        <br>
        <br>
        
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 mb-sm-1 mb-md-1">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="{% static "team-1.jpg" %}" alt="" class="img-fluid rounded-circle">
                        <h3 class="card-title py-2">Jack Wilson</h3>
                        <p class="card-text">Team Leader</p>
                        <p class="card-text">He provides guidance, instruction, direction and achieving a key result or group of aligned results.</p>
                  <p class="socials">
                      <i class="bi bi-twitter text-dark mx-1"></i>
                  <i class="bi bi-facebook text-dark mx-1"></i>
                  <i class="bi bi-linkedin text-dark mx-1"></i>
                  <i class="bi bi-instagram text-dark mx-1"></i>
                  </p>
                  </div>
              </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
              <div class="card text-center">
                  <div class="card-body">
                      <img src="{% static "team-2.jpg" %}" alt="" class="img-fluid rounded-circle">
                        <h3 class="card-title py-2">Huge Paul</h3>
                        <p class="card-text">Manager</p>
                        <p class="card-text">He keeps an eye on workers output and create plans and objectives to raise the business performance as a whole.</p>
                        <p class="socials">
                            <i class="bi bi-twitter text-dark mx-1"></i>
                        <i class="bi bi-facebook text-dark mx-1"></i>
                        <i class="bi bi-linkedin text-dark mx-1"></i>
                        <i class="bi bi-instagram text-dark mx-1"></i>
                        </p>
                  </div>
              </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
              <div class="card text-center">
                  <div class="card-body">
                      <img src="{% static "team-3.jpg" %}" alt="" class="img-fluid rounded-circle">
                  <h3 class="card-title py-2">Sofia Denis</h3>
                  <p class="card-text">Designer</p>
                  <p class="card-text">A business designer is a part of a cross-functional team focused on improving customer experience and resolving issues.</p>
                  <p class="socials">
                      <i class="bi bi-twitter text-dark mx-1"></i>
                  <i class="bi bi-facebook text-dark mx-1"></i>
                  <i class="bi bi-linkedin text-dark mx-1"></i>
                  <i class="bi bi-instagram text-dark mx-1"></i>
                  </p>
                  </div>
              </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
              <div class="card text-center">
                  <div class="card-body">
                      <img src="{% static "team-4.jpg" %}" alt="" class="img-fluid rounded-circle">
                  <h3 class="card-title py-2">Salma Hyat</h3>
                  <p class="card-text">Project Manager</p>
                  <p class="card-text">She is a professional who plans, and executes projects while working within restraints like budgets and schedules.</p>
                  <p class="socials">
                      <i class="bi bi-twitter text-dark mx-1"></i>
                  <i class="bi bi-facebook text-dark mx-1"></i>
                  <i class="bi bi-linkedin text-dark mx-1"></i>
                  <i class="bi bi-instagram text-dark mx-1"></i>
                  </p>
                  </div>
              </div>
          </div>
      </div>
    </div>
</section>
{% endblock content %}