{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="d-flex flex-wrap px-5 pt-3 align-items-center">
    <div class="col-6">
        <h1>Welcome to Our Train Ticket Booking System</h1>
        <p>In today's fast-paced world, ticket booking systems 
            have become an integral part of various industries,
            ranging from transportation and entertainment to 
            events and sports. These systems facilitate the 
            efficient reservation and purchase of tickets, 
            offering convenience to both customers and 
            businesses alike.
        </p>
    </div>
    <div class="col-2">
        
    </div>
    <div class="col-4">
        <img src="{% static "train.jpg" %}"/>
    </div>
</div>
<h5 class="px-5 pt-3">Current Staions Available Here</h5>
<div class="p-4 m-4">
    {% for station in station %}
        <a href="{% url 'station_wise_train' station.slug %}" class="btn btn-secondary text-decoration-none text-light me-2">{{station.name}}</a>
    {% endfor %}
</div>
<div class="d-flex flex-wrap p-4 m-4">
    <h4>{{data | length}} results found</h4>
    <div class="d-flex flex-wrap">
        {% for post in data %}
            <div class="col-sm-3 mb-3 mb-sm-0">
                <div class="card mx-2 ">
                    <div class="card-body">
                        <img src="{{post.image.url}}" class="card-img-top" alt="...">
                        <h5 class="card-title"><a class='text-decoration-none text-dark' href="{% url 'detail_train' post.id%}">{{post.train_name}}</a></h5>
                        <p class="card-text">{{post.description | truncatewords:10}}</p>
                        <p>
                            {% for i in post.station.all %}
                                
                                <button class="btn btn-secondary text-decoration-none text-light m-2" disabled>{{i.title}}</button>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}