{% extends "base.html" %} 
{% load crispy_forms_tags %}
{% block content %}
<div class="hello container p-5 border border-dark-subtle" style="background-image: url(/passenger/static/ticket_registration.jpg);">
  <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 col-12">
        <img src="{{train.image.url}}" class="card-img-top" alt="..." style="width:80%; margin:auto;" />
        <h1 class="card-title">{{train.name}}</h1>
        <p class="card-text">{{train.description}}</p>
        <h3>Price : {{train.seat_fair}}</h3>
        <h4>
          Brand: {{train.station}}
        </h4>
      </div>
      <!-- Vertical Line -->
      <div class="col-lg-6 col-md-6 col-12 d-flex align-items-center justify-content-center border-start border-2 border-secondary">
        {% if request.user.is_authenticated %}
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Train Name</th>
              <th scope="col">Seat Number</th>
              <th scope="col">Book Now</th>
            </tr>
          </thead>
          <tbody>
          {% for seat in train.seatnumber_set.all %}
              {%if not seat.is_taken%}
                  <tr>
                      <th scope="row">{{train.id}}</th>
                      <td>{{train.train_name}}</td>
                      <td>{{seat.seat_number}}</td>
                      {% if request.user.is_authenticated %}
                      <td><a href="{% url 'seatBook' seat.id %}" class="btn btn-primary text-decoration-none text-light me-2">Book Now</a></td>
                      {% endif %}
                  </tr>
              {%endif%}
          {% endfor %}
          {% else %}
          <div class="col-lg-6 col-md-6 col-12 text-center">
            <h1 class="mb-3">Go to Login</h1>
            <h4>Please Login To <br>View Seats</h4>
            <small>Already have an account <a href="{% url 'login' %}">login</a></small>
          </div>
          {% endif %}
          </tbody>
        </table>
      </div>
      <!-- End Vertical Line -->
  </div>
</div>

<div class="container">
  <div class="card mt-5 text-center">
    <h5 class="p-3">Total Reviews : {{reviews | length}}</h5>
    <div class="row justify-content-center">
      {% for review in reviews %}
      <div class="col-12 col-md-6 col-lg-3 mb-sm-1 mb-md-1">
        <div class="card-body border m-2">
          <div class="card text-center">
            <div class="card-body">
              <h1 class="card-text">Reviews</h1>
              <h3>Reviewed by: {{review.name}}</h3>
              <p>{{review.body}}</p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% if request.user.is_authenticated %}
    <div class="card m-2">
    <div class="card-body">
        <form method = "post">
            <h1>Add Review</h1>
            {% csrf_token %}
            {{review_form | crispy}} 
            <button class="btn btn-primary text-decoration-none text-light me-2">Submit</button>
        </form> 
    </div>
    </div>
{%endif%}
{% endblock content %}   